
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}

    <!-- chartist CSS -->
    <link href="/static/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <link href="/static/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="/static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="/static/assets/plugins/c3-master/c3.min.css" rel="stylesheet">

{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Dashboard</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <div class="card-block text-center ">
                <form id = "custform" action="/Assets_1.html">
                    <label for="customer">Choose an Customer:</label>

                    <select name="customername" id="customername">
                        <option value="John Smith">John Smith</option>

                    </select>
                    <br>
                    <label for="asset">Choose an Asset for the Customer:</label>
                    <select name="assetname" id="assetname">
                        <option value="MSS Compressor">MSS Compressor</option>

                    </select>
                    <br>
                    <input type="submit">
                </form>
{#                <button onclick="myFunction1()">Choose</button>#}
{#                <p id="demo"></p>#}

                <script>
                    var x  = null;
                    function myFunction1() {
                      x = document.getElementById("custform").elements[1].value;
                      document.getElementById("demo").innerHTML = x;
                }
                </script>
            </div>
        </div>

{% endblock content %}


</div></div>